 <header>
    <h1>{{title}}</h1>
  </header>

  <hr />

  <div class="container">
    <div class="prose">
      <h1>Project Introduction</h1>
      <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam
        eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis
        nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex</p>
    </div>
    <div class="sidebar">
      <div class="box">
        <h3 class="box-header">Pages</h3>
        <ul class="box-menu">
          <li><a class="" href="testpage.html">Test Page</a></li>
          <li><a class="" href="normalize.html">Normalize CSS Reset Tests</a></li>
          <li><a class="" href="opentype.html">Normalize OpenType CSS Tests</a></li>
        </ul>
      </div>
      <div class="box">
        <h3 class="box-header">Other Links</h3>
        <ul class="box-menu">
          <li><a class="" href="404.html">404 Error Page</a></li>
          <li><a href="">Another link</a></li>
        </ul>
      </div>
    </div>
    <div class="prose">

      <section>
        <article>
          <h2>Additional Information</h2>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
            eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>

          <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores
            eos qui ratione voluptatem sequi nesciunt.</p>

          <p>Laws of physics Euclid courage of our questions? Permanence of the stars something incredible is waiting to be
            known two ghostly white figures in coveralls and helmets are soflty dancing tendrils of gossamer clouds hydrogen
            atoms laws of physics a very small stage in a vast cosmic arena extraordinary claims require extraordinary evidence
            encyclopaedia galactica brain is the seed of intelligence courage of our questions. Venture dream of the mind's
            eye ship of the imagination? Hydrogen atoms circumnavigated. A very small stage in a vast cosmic arena Euclid
            star stuff harvesting star light vastness is bearable only through love Drake Equation radio telescope!</p>
        </article>
      </section>

    </div>
  </div>

  <hr />
  <footer class="">
    <h5>The Footer</h5>
    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,
      eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
  </footer>

  <!--  If needed
        <script src="//code.jquery.com/jquery-latest.min.js"></script>
        <script>window.jQuery || document.write('<script src="/js/vendor/jquery-latest.min.js"><\/script>')</script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        -->

<hr />
<hr />
<hr />
<hr />

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p>Your sessionID: {{session}}</p>

<h2>Get Playlists</h2>
<section class="webapi-usage">
    <code>
        GET https://api.spotify.com/v1/users/{user_id}/playlists
    </code>
    <code>
        curl -X GET "https://api.spotify.com/v1/users/wizzler/playlists" -H "Authorization: Bearer {your access token}"
    </code>
</section>

<h2>Delete Playlists</h2>
<section class="">
    <code>
        DELETE https://api.spotify.com/v1/users/{owner_id}/playlists/{playlist_id}/followers
    </code>

    <code>
        curl -X DELETE "https://api.spotify.com/v1/users/spotify/playlists/65V6djkcVRyOStLd8nza8E/followers" -H "Authorization: Bearer {your access token}"
    </code>
</section>

<section>
    <div class="container">
      <div id="login">
        <h1>This is an example of the Authorization Code flow</h1>
        <a href="login" class="btn btn-primary">Log in with Spotify</a>
      </div>
      <div>
        <p> </p>
      </div>
      <div id="loggedin">
        <div id="user-profile">
        </div>
        <div id="oauth">
        </div>
        <button class="btn btn-default" id="obtain-new-token">Obtain new token using the refresh token</button>
      </div>
      <div>
        <p> </p>
      </div>
    </div>

    <script id="user-profile-template" type="text/x-handlebars-template">
      <h1>Logged in as {{display_name}}</h1>
      <div class="media">
        <div class="pull-left">
          <img class="media-object" width="150" src="{{images.0.url}}" />
        </div>
        <div class="media-body">
          <dl class="dl-horizontal">
            <dt>Display name</dt><dd class="clearfix">{{display_name}}</dd>
            <dt>Id</dt><dd>{{id}}</dd>
            <dt>Email</dt><dd>{{email}}</dd>
            <dt>Spotify URI</dt><dd><a href="{{external_urls.spotify}}">{{external_urls.spotify}}</a></dd>
            <dt>Link</dt><dd><a href="{{href}}">{{href}}</a></dd>
            <dt>Profile Image</dt><dd class="clearfix"><a href="{{images.0.url}}">{{images.0.url}}</a></dd>
            <dt>Country</dt><dd>{{country}}</dd>
          </dl>
        </div>
      </div>
    </script>

    <script id="oauth-template" type="text/x-handlebars-template">
      <h2>oAuth info</h2>
      <dl class="dl-horizontal">
        <dt>Access token</dt><dd class="text-overflow">{{access_token}}</dd>
        <dt>Refresh token</dt><dd class="text-overflow">{{refresh_token}}></dd>
      </dl>
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
      (function() {
        /**
         * Obtains parameters from the hash of the URL
         * @return Object
         */
        function getHashParams() {
          var hashParams = {};
          var e, r = /([^&;=]+)=?([^&;]*)/g,
              q = window.location.hash.substring(1);
          while ( e = r.exec(q)) {
             hashParams[e[1]] = decodeURIComponent(e[2]);
          }
          return hashParams;
        }
        var userProfileSource = document.getElementById('user-profile-template').innerHTML,
            userProfileTemplate = Handlebars.compile(userProfileSource),
            userProfilePlaceholder = document.getElementById('user-profile');
        var oauthSource = document.getElementById('oauth-template').innerHTML,
            oauthTemplate = Handlebars.compile(oauthSource),
            oauthPlaceholder = document.getElementById('oauth');
        var params = getHashParams();
        var access_token = params.access_token,
            refresh_token = params.refresh_token,
            error = params.error;
        if (error) {
          alert('There was an error during the authentication');
        } else {
          if (access_token) {
            // render oauth info
            oauthPlaceholder.innerHTML = oauthTemplate({
              access_token: access_token,
              refresh_token: refresh_token
            });
            $.ajax({
                url: 'https://api.spotify.com/v1/me',
                headers: {
                  'Authorization': 'Bearer ' + access_token
                },
                success: function(response) {
                  userProfilePlaceholder.innerHTML = userProfileTemplate(response);
                  $('#login').hide();
                  $('#loggedin').show();
                }
            });
          } else {
              // render initial screen
              $('#login').show();
              $('#loggedin').hide();
          }
          document.getElementById('obtain-new-token').addEventListener('click', function() {
            $.ajax({
              url: '/refresh_token',
              data: {
                'refresh_token': refresh_token
              }
            }).done(function(data) {
              access_token = data.access_token;
              oauthPlaceholder.innerHTML = oauthTemplate({
                access_token: access_token,
                refresh_token: refresh_token
              });
            });
          }, false);
        }
      })();
    </script>

</section>

